{
  "providers": {
    "travel_planner": {
        "api_key": "{openai_api_key_here}s",
        "test_secret": "test_secret",
        "web_search_serper_api_key": "{serper_api_key_here}"
    }
  },
  "on_fail_provider": {
    "api_key": "xxx",
    "additional_auth": {
      "test_secret": "test_secret",
      "web_search_serper_api_key": "xxx"
    }
  }
}
